{% extends 'layouts/base.html' %}

{% block title %} Cambiar Contraseña {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <!-- Plantilla para la página de "Cambiar Contraseña", donde los usuarios pueden cambiar su contraseña -->
        <h1>Cambiar Contraseña</h1>

        <!-- Sección de mensajes de error, que muestra mensajes de error debajo del título en caso de que los valores introducidos en los dos campos de texto no coincidan -->
        {% if msg %}
            <!-- Si es un mensaje de error se muestra el mensaje en rojo -->
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        
        <!-- Sección del formulario de cambio de contraseña, que permite a los usuarios ingresar su nueva contraseña -->
        <div class="update-form">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <label>Nueva Contraseña</label>
                    <div class="mb-3">
                        {{ form.new_password(class="input form-control", id='new_password', type="password") }}
                    </div>
                </div>

                <div class="form-group">
                    <label>Confirmar Nueva Contraseña</label>
                    <div class="mb-3">
                        {{ form.confirm_password(class="input form-control", id='confirm_password', type="password") }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
{% endblock %}