{% extends 'layouts/base.html' %}

{% block title %} Mi cuenta {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <!-- Plantilla para la página de "Cambiar Email", que permite a los usuarios cambiar su dirección de correo electrónico -->
        <h1>Cambiar Email</h1>

        <!-- Sección de mensajes de error, que muestra mensajes de error debajo del título en caso de que el correo ya exista o haya algún problema al cambiarlo -->
        {% if msg %}
            <!-- Si es un mensaje de error se muestra el mensaje en rojo -->
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}

        <!-- Sección del formulario, donde los usuarios pueden ingresar su nuevo correo electrónico -->
        <div class="update-form">
            <form method="POST">
                {{ form.hidden_tag() }}

                <label>Nuevo Email</label>
                <div class="mb-3">
                    {{ form.email(class="input form-control", type="email", value=current_user.email) }}
                </div>
                <button type="submit" class="btn btn-primary">Cambiar Email</button>
            </form>
        </div>
    </div>
{% endblock %}